@model BizInfo.Model.Entities.Watch

@{
    var watchDivId = string.Format("watch-{0}", Model.Id);
    <div class="watch" id="@watchDivId">
        @using (Html.BeginForm("UpdateWatch", "User", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id);
            <table style="width: 100%; ">
                <tr><th>Jméno</th><td>@Html.TextBoxFor(m => m.Name)</td></tr>
                <tr><th>Aktivní</th><td>@Html.CheckBoxFor(m => m.IsActive)</td></tr>
                <tr><th>Vyhledávání</th><td>@Html.Partial("~/Views/Base/SearchCriteriaListView.cshtml", Model.SearchCriteria)</td></tr>
            </table>
            <input id="store" name="store" type="submit" value="Uložit" />
            <input id="remove" name="remove"  type="submit" value="Odstranit" />
            <script>
                $(function() {
                    $("input:submit", "#@watchDivId").button();
                });
            </script>
        }
    </div>
    <div class="clear"></div>
}